

main{
    font-family: 'Poppins', sans-serif;
}


/* Custome Design  */


.container{
    margin-bottom: 100px;
}


/* Button Design */
.green-link-button, #sign-in{
    border: none;
    background-color: #21B573;
    color: #FFFFFF;
    border-radius: 33px;
    font-weight: normal;
    padding: 12px 36px;
}


.nav-item{
    padding-left: 40px;
}

.header-section{
    background-color: #F0FFF0;
}

.top-section{
    margin-top: 70px;
    margin-bottom: 50px;

}



/* achievement section */
.achievement img{
    width: 100px;
    padding: 15px;
}

.item-1{
    background-color: #F8FFFB;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    height: 270px;
    width: 270px;
    
}

.item-1:hover{
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 34px -15px rgba(0,0,0,0.59);
    transition: 0.2s;
}

/* Online Courses */
.card-footer img{
    width: 18px;
    height: 20px;
}

.card-footer{
    border: none;
    background-color: white;
}

.card-img-top{
    padding: 20px;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 34px -15px rgba(0,0,0,0.59);
}

